<%- include ('partials/header.ejs') %>
<%- include ('partials/homenavbar.ejs') %>

<body>
    <div class="container">
        <hr>
            <div class="jumbotron">
                <h1 class="display-4">Bem-vindo!</h1>
                <p class="lead">Este é um protótipo de 1 blog estilo Wordpress!.</p>
                <hr class="my-4">
                <p>Utilizando Node.js em seu backend.</p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Leia mais</a>
          </div>
        <hr>
            <% articles.forEach(article =>{%>
                <div class="card">
                    <div class="card-header">
                        <h2><%= article.title %></h2>
                    </div>
                    <div class="card-body">
                        <a href="/<%= article.slug %>" class="btn btn-primary"> Ler artigo </a>
                    </div>
                    <br>
                </div>
            <% })%>
        <hr>
        <div class="row">
            <div class="col col-12">
                <a style="float: right;" href="/articles/page/2">Próxima Página</a>
            </div>
        </div>
    </div>
</body>

<%- include ('partials/footer.ejs') %>